Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.sentry-build-plugin
.env.build
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
.vercel
coverage
.nyc_output
*.md
docker-compose.yml